{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Learning Journey</title>
  
    <link rel="stylesheet" href="{% static 'tpJourney/css/style.css' %}">
    <script src="{% static 'tpourney/js/script.js' %}" defer></script>
</head>
<body>
    <h1>🌱 My Learning Journey in Web Development</h1>
    <p>This page showcases my progress and experiences while learning Django.</p>

    {% for journey in journeys %}
    <div class="journey">
        <h2>{{ journey.title }}</h2>
        <p>{{ journey.description }}</p>
        <p><b>Duration:</b> {{ journey.duration }}</p>
    </div>
    {% endfor %}

    <a href="{% url 'about_me' %}">About Me</a>
</body>
</html>
